/*
# = id
. = class
*/

body {

	background-image: url(images/tileBackground.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	
    font-family: "comfortaa", cursive;
    color: #FFF;
}


.main-content {
	height: 900px;
	width: 80%;
	margin:auto;

}

nav{
	margin:auto;
	width:700px;
	height:35px;
}
nav ul {
	margin: 0;
	padding:0;

} 


nav ul li {
	width:24%;
	display:inline-block;	
	text-align:center;
	line-height: 30px;

}


nav ul li a {
	position:relative;
	color: #FFF;
	text-decoration: none;
}

nav ul li a:hover {
	opacity: 0.8;


}


nav ul li a:before {
	content: "";
	position: absolute;
	top: 20px;
	width:100%;
	height:2px;
	background-color: #FFF;
	visibility:hidden;
	-webkit-transition: all 1.3s;
	transition: all 1.3s;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}

nav ul li a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}


.middle-page {
	height:550px;
	width:750px;
	margin:auto;
	text-align:center;
	margin-top: 35px;
	text-shadow: 0px 0px 10px black;

}

.profile-picture {
	height:150px;
	width:150px;
	display:inline-block;
	background-image: url(images/placeholderPhoto.png);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin:auto;
}


.general-info {
	height:370px;
	width:97%;
	display:inline-block;
	margin: auto;

}

#nameGeneral {
	font-size: 45px;
	margin-top: 15px;
	margin-bottom:15px;
}

.general-info ul {
	list-style: none;
	margin-right: 12%;
}

.general-info ul li {

	margin-top:10px;
}

.footerNav {
	margin-left: 15%;
	height:30px;
	width:50%;

}

.footerNav ul {
	list-style: none;
}

.footerNav ul li {

	display: inline-block;
	width: 30%;
}

.footerNav ul li a {

	position: absolute;
	color: #FFF;
	text-decoration: none;
}
.footerNav ul li a:hover {
	opacity: 0.8;

}
.footerNav ul li a:before {
	content: "";
	position: absolute;
	top: 20px;
	width:100%;
	height:2px;
	background-color: #FFF;
	visibility:hidden;
	-webkit-transition: all 1.3s;
	transition: all 1.3s;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}

.footerNav ul li a:hover:before {

	content:"";
	visibility: visible;
	transform: scaleX(1);
}